#row-6-col-1 .background {
    background-color: lightgoldenrodyellow;
    height: 116px;
    width: 116px;
    border-radius: 50%;
}
#row-6-col-1 .spinner {
    position: relative;
    background-color: lightgoldenrodyellow;
    width: 100px;
    height: 100px;
    border: 8px solid #f66;
    border-radius: 50%;
    margin: auto;
    animation: r6c1-spin 18s infinite linear;
}
#row-6-col-1 .spinner::before, #row-6-col-1 .spinner::after {
    content: "";
    width: 58px;
    height: 116px;
    position: absolute;
    background: lightgoldenrodyellow;
    top: -8px;
}
#row-6-col-1 .spinner::before {
    left: -8px;
    border-radius: 58px 0 0 58px;
    transform-origin: 100% 50%;
    animation: r6c1-spin 2s infinite ease 1.48s;
}
#row-6-col-1 .spinner::after {
    right: -8px;
    border-radius: 0 58px 58px 0;
    transform-origin: 0 50%;
    animation: r6c1-spin 2s infinite ease;
}
@keyframes r6c1-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}