#row-5-col-1 .word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#row-5-col-1 .background {
    width: 40px;
    height: 40px;
    background-color: dodgerblue;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    animation: r5c1-spin 2s infinite;
}

@keyframes r5c1-spin {
    80% {
        transform: rotate(1turn);
        border-radius: 50%;
    }
    100% {
        transform: scale(.8);
        border-radius: 50%;
    }
}

#row-5-col-2 .background {
    width: 80px;
    height: 80px;
    background-color: #eeeeee;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#row-5-col-2 .start {
    width: 0;
    height: 0;
    border-left: 30px solid lightseagreen;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    margin-left: 10px;
    display: block;
}

#row-5-col-2.paused .start {
    display: none;
}

#row-5-col-2 .pause {
    display: none;
    height: 36px;
    width: 22px;
}

#row-5-col-2.paused .pause {
    display: block;
}

#row-5-col-2 .pause::before {
    content: '';
    display: inline-block;
    background-color: orangered;
    width: 8px;
    height: 32px;
}

#row-5-col-2 .pause::after {
    content: '';
    display: block;
    float: right;
    background-color: orangered;
    width: 8px;
    height: 32px;
}

#row-5-col-3 .spinner{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 67px;
    left: 67px;
    animation: r5c3-spin 2s infinite;
}

#row-5-col-3 .s1 {
    border-right: 6px solid #f66;
    border-bottom: 6px solid transparent;
}

#row-5-col-3 .s2 {
    border-top: 6px solid transparent;
    border-left: 6px solid dodgerblue;
}

@keyframes r5c3-spin {
    to {
        transform: rotate(2turn);
    }
}

#row-5-col-4 .frame {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 50%;
}
#row-5-col-4 .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #f66;
    position: absolute;
    left: 45px;
    transform-origin: 5px 50px;
    animation-name: r5c4-rotation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#row-5-col-4 .circle:nth-child(2) {
    animation-delay: .2s;
}
#row-5-col-4 .circle:nth-child(3) {
    animation-delay: .4s;
}
#row-5-col-4 .circle:nth-child(4) {
    animation-delay: .6s;
}
#row-5-col-4 .circle:nth-child(5) {
    animation-delay: .8s;
}
@keyframes r5c4-rotation {
    75% {
        transform: rotate(1turn);
    }
    100% {
        transform: rotate(1turn);
    }
}