#row-2-col-1 {
    width: 200px;
    height: 200px;
    position: relative;
}
#row-2-col-1 .pole {
    width: 5px;
    height: 100px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    left: 37%;
    top: 50px;
    margin-left: -3px;
}
.flag {
    background-color: #f44;
    position: absolute;
    height: 40px;
    border-radius: 2px;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
#row-2-col-1 .left {
    width: 10px;
    top: 50px;
    left: 38%;
    animation-name: r2c1-unfold;
}
#row-2-col-1 .right {
    width: 50px;
    top: 58px;
    right: 37%;
    animation-name: r2c1-fold;
}
@keyframes r2c1-unfold {
    to {width: 50px}
}
@keyframes r2c1-fold {
    to {width: 0}
}

#row-2-col-2 {
    position: relative;
    width: 200px;
    height: 200px;
}
#row-2-col-2 .circle {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    top: 64px;
    left: 64px;
}
#row-2-col-2 .back {
    border: 6px solid aliceblue;
}
#row-2-col-2 .spinner {
    border: 6px solid transparent;
    border-top-color: DodgerBlue;
    animation-name: r2c2-spin;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes r2c2-spin {
    to {transform: rotate(1turn);}
}
#row-2-col-3 {
    width: 200px;
    height: 200px;
    position: relative;
}
#row-2-col-3 .circle {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 5px;
    top: 64px;
    left: 64px;
    background-color: DodgerBlue;
    border-color: transparent;
    overflow: hidden;
}
#row-2-col-3 .circle::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -110%;
    left: -210%;
    transform: rotate(30deg);
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%
    );
    opacity: 0;
    animation: r2c3-shine 1s infinite;
}
@keyframes r2c3-shine {
    15% {
        opacity: 1;
    }
    70% {
        top: -30%;
        left: -30%;
    }
}