#row-2-col-1 .pole {
    width: 5px;
    height: 100px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    left: 37%;
    top: 50px;
    margin-left: -3px;
}
.flag {
    background-color: #f44;
    position: absolute;
    height: 40px;
    border-radius: 2px;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
#row-2-col-1 .left {
    width: 10px;
    top: 50px;
    left: 38%;
    animation-name: r2c1-unfold;
}
#row-2-col-1 .right {
    width: 50px;
    top: 58px;
    right: 37%;
    animation-name: r2c1-fold;
}
@keyframes r2c1-unfold {
    to {width: 50px}
}
@keyframes r2c1-fold {
    to {width: 0}
}

#row-2-col-2 .circle {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    top: 64px;
    left: 64px;
}
#row-2-col-2 .back {
    border: 6px solid aliceblue;
}
#row-2-col-2 .spinner {
    border: 6px solid transparent;
    border-top-color: DodgerBlue;
    animation-name: r2c2-spin;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes r2c2-spin {
    to {transform: rotate(1turn);}
}
#row-2-col-3 .circle {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 5px;
    top: 64px;
    left: 64px;
    background-color: DodgerBlue;
    border-color: transparent;
    overflow: hidden;
}
#row-2-col-3 .circle::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -110%;
    left: -210%;
    transform: rotate(30deg);
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%
    );
    opacity: 0;
    animation: r2c3-shine 1s infinite;
}
@keyframes r2c3-shine {
    15% {
        opacity: 1;
    }
    70% {
        top: -30%;
        left: -30%;
    }
}

#row-2-col-4 .ring {
    border: 10px solid #000;
    border-radius: 50%;
    position: absolute;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
#row-2-col-4 .r1 {
    width: 100px;
    height: 100px;
    top: 40px;
    left: 40px;
    border-color: dodgerblue;
    animation-name: r2c4-spin1;
}
#row-2-col-4 .r2 {
    width: 80px;
    height: 80px;
    top: 50px;
    left: 50px;
    border-color: #f44;
    animation-name: r2c4-spin2;
}
#row-2-col-4 .r3 {
    width: 60px;
    height: 60px;
    top: 60px;
    left: 60px;
    border-color: yellow;
    animation-name: r2c4-spin3;
}
#row-2-col-4 .r4 {
    width: 40px;
    height: 40px;
    top: 70px;
    left: 70px;
    border-color: hotpink;
    animation-name: r2c4-spin4;
}
#row-2-col-4 .r5 {
    width: 20px;
    height: 20px;
    top: 80px;
    left: 80px;
    border-color: green;
    animation-name: r2c4-spin5;
}
@keyframes r2c4-spin1 {
    60% {transform: rotate3d(1, 1, 0, 180deg);}
    100% {transform: rotate3d(1, 1, 0, 180deg);}
}
@keyframes r2c4-spin2 {
    70% {transform: rotate3d(1, 1, 0, 180deg);}
    100% {transform: rotate3d(1, 1, 0, 180deg);}
}
@keyframes r2c4-spin3 {
    80% {transform: rotate3d(1, 1, 0, 180deg);}
    100% {transform: rotate3d(1, 1, 0, 180deg);}
}
@keyframes r2c4-spin4 {
    90% {transform: rotate3d(1, 1, 0, 180deg);}
    100% {transform: rotate3d(1, 1, 0, 180deg);}
}
@keyframes r2c4-spin5 {
    100% {transform: rotate3d(1, 1, 0, 180deg);}
}


#row-2-col-5 .wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(.6, .6);
}
#row-2-col-5 .pan {
    width: 180px;
    height: 90px;
    border-left: 2px solid #f66;
    border-top: 2px solid #f66;
    border-right: 2px solid #f66;
    border-radius: 90px 90px 0 0;
    background-color: grey;
    opacity: .8;
    position: absolute;
    top: 8px;
    left: 8px;
    overflow: hidden;
}
#row-2-col-5 .scan {
    width: 90px;
    height: 90px;
    position: absolute;
    background-color: green;
    top: 92px;
    transform-origin: 100% 0;
    animation-name: r2c5-rt1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes r2c5-rt1 {
    100% {transform: rotate(360deg)}
}
@keyframes r2c5-rt2 {
    0% {transform: rotate(-180deg)}
    100% {transform: rotate(180deg)}
}
#row-2-col-5 .copy {
    transform-origin: 50% 100%;
    transform: rotateX(180deg) rotateY(180deg);
}
#row-2-col-5 .copy .scan {
    animation-name: r2c5-rt2;
}
#row-2-col-5 .circle {
    border-radius: 50%;
    position: absolute;
    opacity: .5;
}
#row-2-col-5 .c1 {
    width: 120px;
    height: 120px;
    border: 2px solid #fff68f;
    top: 40px;
    left: 40px;
}
#row-2-col-5 .c2 {
    width: 60px;
    height: 60px;
    border: 2px solid orange;
    top: 70px;
    left: 70px;
}
